@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Ruda);
@import url(http://fonts.googleapis.com/css?family=Rouge+Script);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Bad+Script);

body {
background-image: url(../img/notebook.jpg);
font-family:Ruda, Arial, sans-serif;
}



p {
color:#000;
}

.blackbox {
background-color:#000;
}

      /* SOCIAL ICONS - GENERAL */
.social { list-style:none; margin:30px auto; float: right;}
.social li { display:inline; float:left; background-repeat:no-repeat; padding-left: 5px; padding-right: 5px; }
.social li a { display:block; width:48px; height:48px; padding-right:10px; position:relative; text-decoration:none; }
.social li a strong { font-weight:normal; position:absolute; left:-30px; top:-1px; color:#fff; padding:3px; z-index:9999;
 text-shadow:1px 1px 0 rgba(0, 0, 0, 0.75); background-color:rgba(0, 0, 0, 0.7);
 -moz-border-radius:3px; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -webkit-border-radius:3px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); border-radius:3px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* SOCIAL ICONS - CSS3 */
#css3:hover li { opacity:0.2; }

#css3 li { -webkit-transition-property: opacity; -webkit-transition-duration: 500ms;
 -moz-transition-property: opacity; -moz-transition-duration: 500ms; }
#css3 li a strong { opacity:0;
 -webkit-transition-property: opacity, top; -webkit-transition-duration: 300ms;
 -moz-transition-property: opacity, top; -moz-transition-duration: 300ms; }

#css3 li:hover { opacity:1; }
#css3 li:hover a strong { opacity:1; top:-10px; }

li.youtube { background-image:url("../img/youtube.png"); background-repeat: no-repeat; }
li.facebook { background-image:url("../img/facebook.png"); background-repeat: no-repeat; }
li.twitter { background-image:url("../img/twitter.png"); background-repeat: no-repeat; }
li.instagram { background-image:url("../img/instagram.png"); background-repeat: no-repeat; }
li.soundcloud { background-image:url("../img/soundcloud.png"); background-repeat: no-repeat; }


.spin {
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-webkit-transform:rotate(7deg)
}

.content-box {
	padding-left:0%;
	padding-right:25%;
	margin-bottom:0%;;
}

.container {
	min-height:100%;
	bottom:0;
	margin-bottom:0;

}
.bio-content {
	background-size: cover;
	margin-left: .5%;
	margin-right: .5%;
	margin-bottom: .5%;
	background-image: url(../img/jessie2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 1050px;
	border-radius: 15px;
	background-color: none;
}

.bio-container {
	background-color: rgba(255,255,255, .5);
	margin-left: 0;
	border-radius: 15px;
}

.bio-container p {
	padding-top: 60px;
	font-size: 175%;
	text-align: center;
	font-family: 'Bad Script', cursive;
	min-height:100%;
	font-weight: bold;
}

.b{
	background-image: url(../img/back2.jpg);
background-size:100%;
}

.jessie{
	font-size:100px;
	color:#FFF;
	font-family: 'Rouge Script', cursive;
}

.c{
	background-image: url(../img/back3.jpg);
background-size:100%;
bottom:0;
margin-bottom:0%;
}
.img-responsive {

max-width: 100%;
}

.ship{
max-width:100%;}

.message {
	text-align:center;
	font-weight:700;
	min-height:100%;
	bottom:0;
	margin-bottom:0%;
}
.menu-content-box {
height:50%;
padding-left:10%;
padding-right:10%;
text-align:center;
margin:0;
margin-bottom:0%;
}




.footer {
text-align:center;
font-weight:700;
background-color:#000;
color:#FFF;
position:fixed;
bottom:0;
left:0;
right:0;
font-size:100%;
margin:0;
}

.pizza {
width:130%;
}

.flex-video {
position:relative;
padding-top:25px;
padding-bottom:67.5%;
height:0;
margin-bottom:16px;
overflow:hidden;
}

.flex-video.widescreen {
padding-bottom:57.25%;
}

.flex-video.vimeo {
padding-top:0;
}

.flex-video iframe,.flex-video object,.flex-video embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

nav ul {
height:7%;
color:#FFF;
font-size:100%;
}

nav li {
display:inline-block;
}

nav a {
display:inline-block;
color:#FFF;
font-weight:700;
font-size:110%;
padding:10px;
}

.colored{
	color:#6699CC;
}

nav a:link,nav a:visited {
text-decoration:none;
}

nav a:hover {
font-size: 115%;
}

h2,.name {
text-align:center;
}

@media only screen and max-device-width 800px,only screen and device-width 1024px and device-height 600px,only screen and width 1280px and orientation landscape,only screen and device-width 800px,only screen and max-width 767px{
.flex-video {
padding-top:0;
}
}

@media max-width 700px{
* {
font-size:smaller;
}
}

@media min-width 1200px{
* {
font-size:larger;
}
}

.map {
	margin-left: 45%;
	width: 10%;
	transition: all 1s;
}

.map:hover {
	-webkit-transform: scale(1.5) rotate(360deg);
	-moz-transform: scale(1.5) rotate(360deg);
	-o-transform: scale(1.5) rotate(360deg);
	-ms-transform: scale(1.5) rotate(360deg);
	transform: scale(1.5) rotate(360deg);
}

.music-content {
	margin-left: auto;
	margin-right: auto;
	padding-right: 5px;
	padding-left: 5px;
}

.jessie-container {
	float: right;
}









/*Classes added by Troy*/

.you {

	margin-left:16%;
	margin-right:16%;
	background-image: none;
	background: rgba(255, 255, 255, .5);
	border-radius: 30px;
	padding: 10%;
	text-align:center;


}

.windows {
        width:95%;
        background-image: none;
        margin:20px auto 20px auto;
        margin-left:10%;
}


figure {
        display: inline-block;
        padding: 20px;
        margin: .5%;
        background: rgba(255, 255, 255, .5);
        border-radius: 20px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;  
}

figure:hover {
        box-shadow: 2px 2px 6px #555;
        -webkit-transform: scale(2.25);
        -moz-transform: scale(2.25);
        -o-transform: scale(2.25);
        -ms-transform: scale(2.25);
        transform: scale(2.25);
}


figure img {
        width: 200px;
        border: 10px solid #EEE;
        border-radius: 2px;
}
